{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link rel="stylesheet" href="{% static "css/codehilite.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="{% static 'favicon.svg' %}"/>
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body class="bg-base-200 space-y-2">
<header class="bg-base-100">
    <div class="navbar bg-base-100 max-w-3xl mx-auto lg:max-w-4xl xl:max-w-6xl">
        <div class="navbar-start">
            <a class="btn btn-ghost normal-case text-xl inline-flex gap-2" href="{% url 'index' %}">
                <svg width="32px" height="32px" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title>blog</title><rect x="4" y="24" width="10" height="2"/><rect x="4" y="18" width="10" height="2"/><path d="M26,14H6a2,2,0,0,1-2-2V6A2,2,0,0,1,6,4H26a2,2,0,0,1,2,2v6A2,2,0,0,1,26,14ZM6,6v6H26V6Z" transform="translate(0 0)"/><path d="M26,28H20a2,2,0,0,1-2-2V20a2,2,0,0,1,2-2h6a2,2,0,0,1,2,2v6A2,2,0,0,1,26,28Zm-6-8v6h6V20Z" transform="translate(0 0)"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/></svg>
                <span class="hidden md:inline-flex">Kenshuri's blog</span>
            </a>
        </div>
        <div class="navbar-center">
            <ul class="menu menu-horizontal bg-base-100 rounded-box">
                <li>
                    {% if request.path == '/posts/' %}
                        <a href={% url 'posts' %} class="link-primary font-bold underline"><i class="fa-solid fa-newspaper"></i>Posts</a>
                    {% else %}
                        <a href={% url 'posts' %}><i class="fa-solid fa-newspaper"></i>Posts</a>
                    {% endif %}
                </li>
                <li>
                    {% if request.path == '/books/' %}
                        <a href={% url 'books' %} class="link-primary font-bold underline"><i class="fa-solid fa-book"></i>Books</a>
                    {% else %}
                        <a href={% url 'books' %}><i class="fa-solid fa-book"></i>Books</a>
                    {% endif %}
                </li>
                <li>
                    {% if request.path == '/about/' %}
                        <a href={% url 'about' %} class="link-primary font-bold underline"><i class="fa-solid fa-address-card"></i>About</a>
                    {% else %}
                        <a href={% url 'about' %}><i class="fa-solid fa-address-card"></i>About</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="navbar-end">
            <p class="opacity-0">X</p>
{#            <button class="btn btn-ghost btn-circle cursor-not-allowed">#}
{#                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>#}
{#            </button>#}
        </div>
    </div>
</header>
<main class="px-2 ">
    {%  block main %}
    {%  endblock main %}
</main>
<footer class=" bg-neutral">
    <div class="footer text-neutral-content p-10 max-w-3xl mx-auto lg:max-w-4xl xl:max-w-6xl">
        <div>
            <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="fill-current"><path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path></svg>
            <span>Kenshuri's blog<br>Archiving stuff since 2022</span>
        </div>
        <div>
            <span class="footer-title">Social</span>
            <div class="grid grid-flow-col gap-4">
                <a href="mailto:kenshuri.blog@gmail.com" class="fa-solid fa-envelope"></a>
                <a href="https://github.com/kenshuri" class="fa-brands fa-github"></a>
                <a href="https://stackoverflow.com/users/13371166/kenshuri" class="fa-brands fa-stack-overflow"></a>
                <a href="https://app.mobalytics.gg/lol/profile/euw/kenshuri33b/overview" class="fas fa-gamepad"></a>
            </div>
        </div>
    </div>
</footer>
<script>
    {% block script %}
    {% endblock script %}
</script>
</body>
</html>