{% load static %}
<div class="card w-60 h-72 bg-base-100 shadow-xl group overflow-hidden">
    <div class="relative">
        {% if book.has_cover %}
            <img class="absolute object-cover w-60 h-72 opacity-50 blur-[2px]"
                 src="{% static book.cover %}"
                 alt="cover image for {{ book.title }}"
            >
        {% else %}
            <img class="absolute object-cover w-60 h-72 opacity-100 blur-[2px]"
                 src="{% static 'images/covers/default-cover.jpg' %}"
                 alt="cover image for {{ book.title }}"
            >
        {% endif %}
        <div class="card-body absolute top-0 left-0 w-60 h-72">
            <div class="card-title flex flex-row justify-between items-start">
                <div>
                    {{ book.title }}
                </div>
                <div class="flex flex-row p-1 bg-yellow-400 rounded-full justify-center">
                    {{ book.my_rating }}<span class="fa-solid fa-star"></span>
                </div>
            </div>
            <p>{{ book.author }}</p>
            <div class="">
                <div>ISBN: {{ book.isbn }}</div>
                <div class="italic justify-end">
                    Read on {{ book.date_read|date:"M. j, Y" }}
                </div>
            </div>
        </div>
    </div>
</div>